# Pandas CheatSheet

You might want to give up when you have the first look at Pandas Documentaion, just thinking of getting familiar with all the functions made you intimidating. While but keep calm, my friend. Any Data Dealing System contains the following elements: 
+ Build DataFrame
   + Readin from outer source 
   + Create 
      + Add/Minus one element
+ Acessing DataFrame
   + Index Base Acessing
   + Location Based Accessing
   + Conditional Based Accessing 
+ Merge DataFrame

### Build DataFrame

In [1]:
import pandas as pd
import numpy as np

#### Readin from outer Source


|Format |Data 	|Reader|	Writer|
|-------|------:|----:|-----:|---------:|
|text |	CSV	|read_csv|	to_csv|
|text	|JSON	|read_json|	to_json
|text	|HTML|	read_html	|to_html
|text|	Local|	read_clipboard|	to_clipboard
|binary	|MS Excel|	read_excel|	to_excel|
|binary|	HDF5 |	read_hdf	|to_hdf
|binary|	Feather|read_feather|	to_feather|
|binary	|Msgpack	|read_msgpack|	to_msgpack|
|binary	|Stata	|read_stata|	to_stata|
|binary	|SAS	|read_sas	 |
|binary	| Pickle Format|	read_pickle|	to_pickle|
|SQL	|SQL	|read_sql|	to_sql|
|SQL	|Google Big Query	|read_gbq	|to_gbq

In [3]:
# create series
s = pd.Series([1,3,5,np.nan,6,8])
name = pd.Series(['a','b','c','d','e','f'])
# create dataframe
example = pd.DataFrame({"name":name,"score":s})
# create index 
example.index= map(str,range(0,len(s)))

In [6]:
# Add in element
example["new"] =1
example

  name  score  new
0    a    1.0    1
1    b    3.0    1
2    c    5.0    1
3    d    NaN    1
4    e    6.0    1
5    f    8.0    1

In [8]:
# Delete Column
del example["new"]

KeyError: 'new'

### Access DataFrame

In [6]:
# Index Based Accessing
example.loc["1":"3","name"]

1    b
2    c
3    d
Name: name, dtype: object

In [9]:
# Location Based Accessing
example.iloc[0:3,0:1]

  name
0    a
1    b
2    c

In [12]:
#Mix based accessing
example.ix[2:3,"name"]

2    c
Name: name, dtype: object

In [ ]:
# Conditional Based Accessing